{% macro main(colors,requestCache) %}
    {% set shapes = ['hex', 'diamond', 'triangle', 'circle'] %}

    <div class="home-back-shape home-back-shape--hidden grid-x align-middle" data-js-hook="home-back-shape">
        {% for shapeStr in shapes %}
            {{ _self.shapeBlock({
                loop: loop,
                shapeStr: shapeStr,
                shapeName: 'home_'~shapeStr,
                color: colors[loop.index0]
            }) }}
        {% endfor %}

        {{ _self.shapeBlock({
            shapeStr: 'circle_small',
            shapeName: 'home_circle_small',
            color: colors|first,
            loop: {
                index: shapes|length+1
            }
        }) }}

    </div>
{% endmacro %}

{% macro shapeBlock(args) %}
    {% import "partials/components/_svg-shapes.twig" as shape %}
    <div class="home-back-shape__shape-wrap cell text-center home-back-shape__shape-wrap--{{ args.shapeStr }}" data-js-hook="home-back-shape-shape" data-section-id="home-sections-{{ args.loop.index+1 }}">
        <div class="home-back-shape__shape">
            {{ attribute(shape, args.shapeName, [ args.color ]) }}
        </div>
    </div>
{% endmacro %}
