{% macro main(params,requestCache) %}
    <div class="order-history-list {{ params.class }}">
    
    {# {{ params|json_encode() }} #}
    
    {% set orders = params.data.orders %}
 
    	<!-- TABS -->
    	<ul class="tabs u-style-text-left" data-tabs id="order-tabs">
		  <li class="tabs-title is-active"><a href="#tabOpen" aria-selected="true">Open Orders</a></li>
		  <li class="tabs-title"><a data-tabs-target="tabClosed" href="#tabClosed">Closed Orders</a></li>
		</ul>
    
    
		<!-- CONTENT -->
		<div class="tabs-content" data-tabs-content="order-tabs">
		  <div class="tabs-panel is-active" id="tabOpen">
  
		    <table id="orders-open" class="display unstriped">
		        <thead>
		            <tr>
		                <th class="sortable"><a href="#">Date</a></th>
		                <th class="sortable"><a href="#">Purchase Order</a></th>
		                <th class="sortable"><a href="#">Order Number</a></th>
		                <th>Ship To Address</th>
		                <th class="sortable"><a href="#">Order Status</a></th>
		            </tr>
		        </thead>
		        <tbody>
		        
		        
		        	{% for order in orders %}
		        	
		        	{% set orderDate = order.created|date("m/d/Y") %}
		        	{% set status = order.status|replace({'_': ' '}) %}
		        	
		        	{% if ( status != "SHIPPED" ) and ( status != "CANCELLED" ) %}
		        	
		        		{% set addressID = order.deliveryAddress.id %}
				        	{% set orderDate = order.created|date("m/d/Y") %}
				        	{% set sapOrderNumber = order.sapOrderNumber %}
				        	{% set purchaseOrderNumber = order.purchaseOrderNumber %}
				        	{% set firstName = order.deliveryAddress.firstName %}
				        	{% set lastName = order.deliveryAddress.lastName %}
				        	{% set defaultAddress = order.defaultAddress %}
				        	{% set deliveryAddress = order.deliveryAddress %}
				        	{% set address1 = order.deliveryAddress.line1 %}
				        	{% set address2 = order.deliveryAddress.line2 %}
				        	{% set phone = order.deliveryAddress.phone %}
				        	{% set town = order.deliveryAddress.town %}
				        	{% set country = order.deliveryAddress.country.isocode %}
				        	
				        	{% set shippingInstructions = '<strong>SHIPPING INSTRUCTIONS</strong><p style="padding-top:4px;">Please deliver during business hours only.  Request for delivery 3/28' %}
				        	<tr>
		    
						    	<td>{{ orderDate }} </td>
				                <td><a href="#">{{ purchaseOrderNumber }}</a></td>
				                <td><a href="/orders/{{ sapOrderNumber }}">{{ sapOrderNumber }}</a></td>
				                <td class="address">
				                	c/ o {{ firstName }} {{ lastName }}<br>
				                	{% if address1 %}{{ address2 }} {{ address1 }}</br>{% endif %}
				                	Philadelphia, PA 19127-1603
				                	<div>
				                		<span data-tooltip xdata-tooltip-class="tooltip-2" data-allow-html="true" class="top" tabindex="2" title="{{ shippingInstructions }}">Shipping Instructions</span>
				                	</div>
				                
				                </td>
				                <td>{{ status }}</td>
						    	
						    </tr>
		        	
				    {% endif %}
				    
				    {% endfor %}
		            		            
		        </tbody>
		    </table>
		  </div>
		  
		  
		  <div class="tabs-panel" id="tabClosed">
		  		
		  		<table id="orders-open" class="display unstriped">
			        <thead>
			            <tr>
			                <th class="sortable"><a href="#">Date</a></th>
			                <th class="sortable"><a href="#">Purchase Order</a></th>
			                <th class="sortable"><a href="#">Order Number</a></th>
			                <th>Ship To Address</th>
			                <th class="sortable"><a href="#">Order Status</a></th>
			            </tr>
			        </thead>
			        <tbody>
			        	
			        	{% for order in orders %}
		        	
			        	{% set status = order.status|replace({'_': ' '}) %}
			        	
			        	{% if ( status == "SHIPPED" ) or ( status == "CANCELLED" ) %}
			        	
			        		{% set addressID = order.deliveryAddress.id %}
				        	{% set orderDate = order.created|date("m/d/Y") %}
				        	{% set sapOrderNumber = order.sapOrderNumber %}
				        	{% set purchaseOrderNumber = order.purchaseOrderNumber %}
				        	{% set firstName = order.deliveryAddress.firstName %}
				        	{% set lastName = order.deliveryAddress.lastName %}
				        	{% set defaultAddress = order.defaultAddress %}
				        	{% set deliveryAddress = order.deliveryAddress %}
				        	{% set address1 = order.deliveryAddress.line1 %}
				        	{% set address2 = order.deliveryAddress.line2 %}
				        	{% set phone = order.deliveryAddress.phone %}
				        	{% set town = order.deliveryAddress.town %}
				        	{% set country = order.deliveryAddress.country.isocode %}
				        	{% set shippingInstructions = '<strong>SHIPPING INSTRUCTIONS</strong><p style="padding-top:4px;">Please deliver during business hours only.  Request for delivery 3/28' %}
				        	<tr>
		    
						    	<td>{{ orderDate }} </td>
				                <td><a href="#">{{ purchaseOrderNumber }}</a></td>
				                <td><a href="/orders/{{ sapOrderNumber }}">{{ sapOrderNumber }}</a></td>
				                <td class="address">
				                	c/ o {{ firstName }} {{ lastName }}<br>
				                	{% if address1 %}{{ address2 }} {{ address1 }}</br>{% endif %}
				                	Philadelphia, PA 19127-1603
				                	<div>
				                		<span data-tooltip xdata-tooltip-class="tooltip-2" class="top" tabindex="2" title="{{ shippingInstructions }}">Shipping Instructions</span>
				                	</div>
				                
				                </td>
				                <td>{{ status }}</td>
						    	
						    </tr>
					    {% endif %}
					    
					    {% endfor %}			            
			            
			        </tbody>
			    </table>
			    
		  </div>
		</div>
    
    
    </div>
{% endmacro %}
